#!/bin/bash
bbcs_dsn=""
mysql_dsn=""
log="$(dirname $0)/log/log.txt"
lock_file="/tmp/$(basename $0).lock"
mysql_host=""
mysql_database=""
mysql_username=""
mysql_password=""
pdid_wb=""
pdid_2rbc=""
pdid_plt=""
pdid_pls=""
#save_file=""
